.story{
    &__pictures{
        background-color: blue;
        grid-column: full-start / coll-end 4;
 

    }
    &__content{
        background-color: $color-grey-light-1;
        grid-column: coll-start 5 / full-end;

        padding: 6rem 8vw;

        display: grid;
        align-content: center;
        justify-items: start;

        &__text {
            font-size: 1.5rem;
            font-style: italic;
            margin-bottom: 4rem;
        }

    }
}